<!-- beans tag -->
<!--It’s mandatory.-->
<!--It defines the XML namespace and schema.-->
<!--Contains one or more <bean> elements.-->
<!--bean tag-->
<!--refers The Java class to be instantiated.-->
<!--The ID/name attribute is the name by which you refer to it and class attribute defines the classpath-->
<!--It includes any dependencies like fields via <property> or <constructor-arg>-->
<!--You need to add p schema to add values using p in beans tag-->

<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="user1" class="com.entity.User">
        <property name="id" value="101"></property>
        <property name="name" value="sonal"></property>
        <property name="address" value="pune"></property>
    </bean>
    <bean id="user2" class="com.entity.User" p:id="102" p:name="raj" p:address="mumbai">
    </bean>
</beans>