<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
<!--    The init-method and destroy-method attribute is used to define -->
<!--    the init and destroy methods specific to the bean-->
<!--    This tag enables all the annotation in our application-->
    <context:annotation-config/>
    <bean id="cake" class="com.entity.Cake" p:flavour="chocolate" p:price="200" init-method="init" destroy-method="destroy"/>
    <bean id="pastry" class="com.entity.Pastry" p:flavour="vanilla" p:price="60"/>
    <bean id="pizza" class="com.entity.Pizza" p:price="250"/>

<!--    if we want to enable only the two annotations uses for lifecycle callbacks, create a bean with the -->
<!--    following class ie CommonAnnotationBeanPostProcessor-->
<!--    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>-->
</beans>